auto
ownership_monad.aux
ownership_monad.bbl
ownership_monad.blg
ownership_monad.loa
ownership_monad.loaf
ownership_monad.loap
ownership_monad.loat
ownership_monad.lof
ownership_monad.log
ownership_monad.lot
ownership_monad.out
ownership_monad.toc
